
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: 'thai';
  src: url('../fonts/padthai.ttf');
}
@font-face {
  font-family: 'korean';
  src: url('../fonts/Korean_Calligraphy.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-image: url('../images/bamboo-bg.jpg');
  background-size: cover;
}

table{
  background-image: url('../images/paper-bg.jpg');
  box-shadow: 5px 5px 3px;
  border-radius: 2px;
  margin-top: 15px;
  th{
    font-family: 'thai';
    text-decoration: underline;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 5px;
  }
  td{
    font-family: 'korean';
    padding-left: 14px;
  }
  .menu-item{
    font-size: 20px;
  }
  .add-item{
    font-size: 14px;
    border-radius: 4px;
    padding: 3px 6px;
    color: black;
  }
  .add-item:hover{
    color: #556B2F;
    text-decoration: underline;
    cursor: pointer;
  }
}

.order-div{
  background-image: url('../images/paper-bg.jpg');
  min-height: 300px;
  margin-top: 18px;
  border-radius: 2px;
  box-shadow: 5px 5px 3px;
  padding: 6px;
  position: relative;
  .order-name{
    font-size: 22px;
  }
  .submit-order{
    border-radius: 3px;
    background-color: #556B2F;
    color: white;
    position: absolute;
    bottom: 3px;
    right: 3px;
  }
  p, ul, li, button {
    font-family: 'korean';
  }
  ul{
    list-style: none;
    padding: 0;
  }
  .total{
    text-align: right;
    // position: absolute;
    // bottom: 15px;
    // left: 3px;
  }
}
